#splashscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(220,220,220,0.96);
  z-index: 500;
  text-align: center;
}

#splashscreen p.headline {
  margin-top: 0.7em;
  font-size: 2em;
  font-weight: bold;
}

#splashscreen p.tagline {
  font-size: 1.4em;
  font-weight: bold;
}

div.enter {
  display: block;
  width: 70%;
  max-width: 800px;
  text-align: left;
  margin: auto;
}

div.enter img.hothen {
  display: block;
  float: left;
  max-width: 50%;
  /*max-width: 30%;*/
}

#AgeVerifyEnter {
  margin-top: 5%;
  font-family: "Palatino", "Palatino Linotype";
  font-size: 4em;
  font-variant: small-caps;
  color: blue;
  cursor: pointer;
}

#AgeVerifyLeave {
  margin-top: 5%;
  font-size: 4em;
  font-family: "Palatino", "Palatino Linotype";
  font-variant: small-caps;
  text-align: center;
  text-indent: -1em;
}

div.enter img.RTA {
  margin-top: 7%;
  margin-right: 4em;
  padding:1px;
  border:1px solid #021a40;
  background-color:#ff0;
}

div.enter a:link {
	text-decoration: none;
	color: blue;
}

div.enter a:visited {
	text-decoration: none;
	color: blue;
}

@media screen and (max-width: 480px) {
  
  #splashscreen {
    width: 320px;
  }
  
  div.enter {
    display: block;
    width: 90%;
    max-width: 800px;
    text-align: left;
    margin: auto;
  }
  div.enter img.hothen {
    display: block;
    float: left;
    max-width: 30%;
  }
  #AgeVerifyEnter {
    margin-top: 5%;
    font-family: "Palatino", "Palatino Linotype";
    font-size: 2em;
    font-variant: small-caps;
    text-align: center;
    text-indent: -1em;
    color: blue;
    cursor: pointer;
  }

  #AgeVerifyLeave {
    margin-top: 1%;
    font-size: 2em;
    font-family: "Palatino", "Palatino Linotype";
    font-variant: small-caps;
    text-align: center;
    text-indent: -1em;
  }

  div.enter img.RTA {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    padding:1px;
    /*height: 2.2em;*/
    max-width: 4.6em;
    border:1px solid #021a40;
    background-color:#ff0;
  }
}